* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #000;
  padding: 32px;
  font-family: sans-serif;
}

.bento {
  display: grid;
  grid-template-areas:
  "plane plane plane plane plane tile long"
  "fat fat fat meme meme meme long"
  "fat fat fat meme meme meme fin"
  "smalll smalll big big big big fin";
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  max-width: 1000px;
  margin: 0 auto;
  height: 80vh;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  justify-content: space-between;
  font-size: 10px;
  color: #000;
  background: #fff;
  border-radius: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}
.frame-1 {
  grid-area: plane;
  background-image: url("Asets/arrow.png");
  background-repeat: repeat;
}
.frame-2 { grid-area: tile;
  background-image: url("Asets/blak-kvadrat.png");
  background-size: 50%;
  background-position: center;
}
.frame-3 {
  grid-area: long;
  background-color: #000;
  border: 3px solid #fff;
}
.frame-3 img{
  transform: rotate(90deg);
   width:   100%;
  height:  100%;
  object-fit: contain;
  object-position: center;
}
.frame-4 { grid-area: fat; background-image: url("Asets/Frame\ 2147236359.png"); background-position: left;}
.frame-5 { grid-area: meme; background-image: url("Asets/IMG_6533\ 2.png"); background-size:cover;}
.frame-6 { grid-area: smalll;background-color: #000;
  border: 3px solid #fff; }
.frame-6 img{
  width:   75%;
  height:  75%;
  object-fit: contain;
  object-position: center;
}
.frame-7 { grid-area: big; /*background-color: #000;
  border: 3px solid #fff;*/}
.frame-7 img{
width:   75%;
height:  75%;
object-fit: contain;
object-position: center;
}
.frame-8 { grid-area: fin; }
.frame-8 img{
width:   75%;
height:  75%;
object-fit: contain;
object-position: center;
}

